@page
@model bookingIndexModel

@{
    ViewData["Title"] = "bookingIndex";
}




<main>
    <!-- breadcrumb area start -->
    <section class="bd-breadcrumb-area p-relative fix">
        <!-- breadcrumb background image -->
        <div class="bd-breadcrumb-bg" data-background="assets/images/bg/breadcrumb-bg.png"></div>
        <div class="bd-breadcrumb-wrapper p-relative">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="bd-breadcrumb d-flex align-items-center justify-content-center">
                            <div class="bd-breadcrumb-content text-center">
                                <h1 class="bd-breadcrumb-title">Wishlist Booking</h1>
                                <div class="bd-breadcrumb-list">
                                    <span><a href="/LandingPage"><i class="icon-home"></i>Tourigo</a></span>
                                    <span>Wishlist Booking</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- wishlist-area area start -->
    <div class="bd-wishlist-area section-space">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bd-cart-list mb-45">
                        <table class="table">

                            <thead>
                                <tr>
                                    <th colspan="2" class="bd-cart-header-product">Tour</th>
                                    <th class="bd-cart-header-price">Price</th>
                                    <th class="bd-cart-header-price">StartDate</th>
                                    <th class="bd-cart-header-price">EndDate</th>

                                    <th style="text-align: center;" class="bd-cart-header-quantity">People</th>
                                    <th>Total Price</th>
                                    <th style="text-align: center;">paid</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Booking) {
                                <tr>
                                    <!-- img -->
                                    <td class="bd-cart-img image-hover-effect">
                                        <a href="shop-details.html">
                                                <img src="~/assets/images/tour/@Html.DisplayFor(modelItem => item.Tour.Destinate.Image)" alt="image">
                                        </a>
                                    </td>
                                    <!-- title -->
                                    <td class="bd-cart-title">
                                        <a href="shop-details.html">
                                         @Html.DisplayFor(modelItem => item.Tour.TourName)
                                        </a>
                                    </td>
                                    <td class="bd-cart-price">
                                            <span>
                                                @Html.DisplayFor(modelItem => item.Tour.TotalCost)
                                            </span>

                                    </td>
                                    <td class="bd-cart-price">
                                            <span>
                                                @Html.DisplayFor(modelItem => item.Tour.StartDate)
                                            </span>
                                    </td>
                                    <td class="bd-cart-price">
                                            <span>
                                                @Html.DisplayFor(modelItem => item.Tour.EndDate)
                                            </span>

                                    </td>
                                    <!-- price -->
                                    <!-- quantity -->
                                    <td class="bd-cart-quantity">
                                            <input readonly class="bd-cart-input" type="text" value="@Html.DisplayFor(modelItem => item.AmountOfPeople)">
                                    </td>
                                    <td class="bd-cart-price">
                                            <span>
                                                @Html.DisplayFor(modelItem => item.TotalAmount)
                                            </span>
                                    </td>
                                        <td style="text-align: center;" class="bd-cart-price">

                                            @if (item.Status.Equals("ACTIVE"))
                                            {

                                                <div style="text-align: center;" class="booking-form-btn">
                                                    <a href="/BookingPage/Payment?id=@Html.DisplayFor(modelItem => item.BookingId)">
                                                        <button class="bd-primary-btn btn-style is-bg radius-60">
                                                            <span class="bd-primary-btn-text">Pay</span>
                                                            <span class="bd-primary-btn-circle"></span>
                                                        </button>
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <span>Yes</span>
                                            }

                                        </td>


                                    <!-- action -->

                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="bd-cart-bottom">
                        <div class="row align-items-end">
                            <div class="col-xl-6 col-md-4">
                                <div class="bd-cart-update">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- wishlist-area area end -->

</main>
