@page
@model TravelWebProject.web.Pages.BookingPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].PaidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].RemainingAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].PaymentDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Tour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
