@page
@model TravelWebProject.web.Pages.Tours.TourModel
@{
    ViewData["Title"] = "TourPage";
    int index = 1;
}
<main>
    <!-- breadcrumb area start -->
    <section class="bd-breadcrumb-area p-relative fix">
        <!-- breadcrumb background image -->
        <div class="bd-breadcrumb-bg" data-background="~/assets/images/bg/breadcrumb-bg.png"></div>
        <div class="bd-breadcrumb-wrapper p-relative">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="bd-breadcrumb d-flex align-items-center justify-content-center">
                            <div class="bd-breadcrumb-content text-center">
                                <h1 class="bd-breadcrumb-title">Tour Details</h1>
                                <div class="bd-breadcrumb-list">
                                    <span><a href="index.html"><i class="icon-home"></i>Tourigo</a></span>
                                    <span>Tour Details</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- tour-details area start -->
    <section class="bd-tour-details-area section-space">
        <div class="container">

            <div class="row gy-24 justify-content-center">
                
                <div class="col-xxl-8 col-xl-8 col-lg-10">
                    <div class="tour-details-wrapper">
                        <div class="tour-details mb-25">
                            <div class="tour-details-slider details-slide p-relative mb-30">
                                <div class="swiper details-slide-activation">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="~/assets/images/tour/@Model.Tour.Destinate.Image" alt="image">
                                        </div>
                                        
                                    </div>
                                </div>
                               <!--<div class="details-slide-navigation btn-navigation">
                                    <button class="tourigo-navigation-prev">
                                        <i class="fa-regular fa-angle-left"></i>
                                    </button>
                                    <button class="tourigo-navigation-next">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </button>
                                 </div>-->
                            </div>
                            <div class="tour-details-content">
                                <div class="tour-details-badge d-flex gap--5 mb-10">
                                    <!--<span class="bd-badge warning fw-5">Featured</span>
                                    <span class="bd-badge danger fw-5">15% Off</span>-->
                                    
                                </div>
                                <h3 class="tour-details-title mb-15">
                                   @Model.Tour.TourName
                                </h3>
                                <div class="tour-details-meta d-flex flex-wrap gap-10 align-items-center justify-content-between mb-20">
                                    <div class="tour-details-price">
                                        <h4 class="price-title">$@Model.Tour.TotalCost<span>/Per Person</span></h4>
                                    </div>
                                    <div class="tour-details-meta-right d-flex flex-wrap gap-10 align-items-center justify-content-between">
                                        <div class="rating-badge border-badge">
                                            <span>
                                                <i class="icon-star"></i>@Model.Tour.TotalRating
                                            </span>
                                        </div>
                                        <div class="theme-social">
                                            <a href="https://www.facebook.com/nguyen.nguyenhiep.1042"><i class="icon-facebook"></i></a>
                                            <a href="#"><i class="icon-twitter-x"></i></a>
                                            <a href="#"><i class="icon-linkedin"></i></a>
                                            <a href="#"><i class="icon-youtube"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tour-details-destination-wrapper">
                                    <div class="tour-details-destination-info">
                                        <div class="search-icon-bg is-big">
                                            <span><i class="fa-light fa-clock"></i></span>
                                        </div>
                                        <div class="tour-details-destination-info-title">
                                            <p class="tour-details-destination-info-top mb-0">Duration</p>
                                            <span class="tour-details-destination-info-bottom small">
                                                @Model.Tour.Duration
                                            </span>
                                        </div>
                                    </div>
                                    <div class="tour-details-destination-info">
                                        <div class="search-icon-bg is-big">
                                            <span><i class="icon-hourglass"></i></span>
                                        </div>
                                        <div class="tour-details-destination-info-title">
                                            <p class="tour-details-destination-info-top mb-0">Min Age</p>
                                            <span class="tour-details-destination-info-bottom small">
                                                @Model.Tour.MinAge
                                                Years+
                                            </span>
                                        </div>
                                    </div>
                                    <div class="tour-details-destination-info">
                                        <div class="search-icon-bg is-big">
                                            <span><i class="fa-sharp fa-light fa-moped"></i></span>
                                        </div>
                                      <div class="tour-details-destination-info-title">
                                            <p class="tour-details-destination-info-top mb-0">Tour Type</p>
                                            <span class="tour-details-destination-info-bottom small">
                                                @Model.Tour.Transport.Mode
                                            </span>
                                        </div>
                                    </div>
                                    <div class="tour-details-destination-info">
                                        <div class="search-icon-bg is-big">
                                            <span><i class="fa-light fa-location-dot"></i></span>
                                        </div>
                                        <div class="tour-details-destination-info-title">
                                            <p class="tour-details-destination-info-top mb-0">Location</p>
                                            <span class="tour-details-destination-info-bottom">
                                                @Model.Tour.Destinate.Name
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <p class="mb-15">
                                   @Model.Tour.Description
                                </p>
                                <!--<p class="mb-20">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa
                                    mi.
                                    Aliquam hendrerit
                                    urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                                    ultrices Maecenas
                                </p>-->

                                <div class="tour-details-list-wrap mb-35">
                                    <h4 class="mb-20">Include/ Exclude</h4>
                                    <div class="tour-details-list-box">
                                        <div class="tour-details-list-include">
                                            <ul>
                                                <li>
                                                    <span class="list-icon success">
                                                        <i class="fa-solid fa-check"></i>
                                                    </span>
                                                    Accommodations
                                                </li>
                                                <li>
                                                    <span class="list-icon success">
                                                        <i class="fa-solid fa-check"></i>
                                                    </span>
                                                    Meals
                                                </li>
                                                <li>
                                                    <span class="list-icon success">
                                                        <i class="fa-solid fa-check"></i>
                                                    </span>
                                                    Transportation
                                                </li>
                                                <li>
                                                    <span class="list-icon success">
                                                        <i class="fa-solid fa-check"></i>
                                                    </span>
@*                                                    @if (Model.Tour != null)
                                                    {
                                                        <ul>
                                                            @foreach (var itinerary in Model.Tour.Itineraries)
                                                            {
                                                                <li>@itinerary.Activity</li>
                                                            }
                                                        </ul>
                                                    }*@
                                                    Itinerary
                                                </li>
                                                <li>
                                                    <span class="list-icon success">
                                                        <i class="fa-solid fa-check"></i>
                                                    </span>
                                                    Guides
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tour-details-list-exclude">
                                            <ul>
                                                <li>
                                                    <span class="list-icon danger">
                                                        <i class="fa-regular fa-xmark"></i>
                                                    </span>
                                                    Airfare
                                                </li>
                                                <li>
                                                    <span class="list-icon danger">
                                                        <i class="fa-regular fa-xmark"></i>
                                                    </span>
                                                    Additional Meals
                                                </li>
                                                <li>
                                                    <span class="list-icon danger">
                                                        <i class="fa-regular fa-xmark"></i>
                                                    </span>
                                                    Optional Activities
                                                </li>
                                                <li>
                                                    <span class="list-icon danger">
                                                        <i class="fa-regular fa-xmark"></i>
                                                    </span>
                                                    Travel Insurance
                                                </li>
                                                <li>
                                                    <span class="list-icon danger">
                                                        <i class="fa-regular fa-xmark"></i>
                                                    </span>
                                                    Personal Expenses
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="tour-details-faq mb-35">
                                    <h4 class="mb-20">Tour Plan</h4>
                                    <div class="accordion-wrapper faq-style-3">
                                        <div class="accordion" id="accordionExampleThree">
                                            @foreach(var item in Model.Tour.TourPlans)
                                            {
                                               
                                                <div class="accordion-item">
                                                    <h6 class="accordion-header" id="headingNine">
                                                        <button class="accordion-button" type="button"
                                                                data-bs-toggle="collapse" data-bs-target="#collapseNine"
                                                                aria-expanded="true" aria-controls="collapseNine">
                                                            <span>Day @index:</span> 
                                                            @item.Name
                                                        </button>
                                                    </h6>
                                                    <div id="collapseNine" class="accordion-collapse collapse show"
                                                         aria-labelledby="headingNine"
                                                         data-bs-parent="#accordionExampleThree">
                                                        <div class="accordion-body">
                                                            @item.Description
                                                            @*<div class="accordion-body-list">
                                                                <ul>
                                                                    <li>Morning: Arrival and Check-in</li>
                                                                    <li>Afternoon: City Tour or Landmarks Visit</li>
                                                                    <li>Evening: Local Cuisine Experience</li>
                                                                </ul>
                                                            </div>*@
                                                            <!-- note làm asp- -->
                                                            <div class="time d-flex align-items-center gap--5">
                                                                @* delete *@
                                                                <a asp-page="/PlanTours/Delete" asp-route-id="@item.PlanId" class="bd-text-btn style-two">
                                                                    Delete
                                                                    <span class="icon__box">
                                                                        <i class="fa-regular fa-arrow-right-long icon__first"></i>
                                                                        <i class="fa-regular fa-arrow-right-long icon__second"></i>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                index++;
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="tour-details-gallery mb-35">
                                    <h4 class="mb-20">Tour Galley</h4>
                                    <div class="row gy-24">
                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                            <div class="tour-details-gallery-thumb image-hover-effect-two position-relative">
                                                <img src="~/assets/images/tour/tour-img-21.png" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                            <div class="row gy-24">
                                                <div class="col-xxl-12">
                                                    <div class="tour-details-gallery-thumb image-hover-effect-two position-relative">
                                                        <img src="~/assets/images/tour/tour-img-22.png" alt="image">
                                                    </div>
                                                </div>
                                                <div class="col-xxl-12">
                                                    <div class="tour-details-gallery-thumb image-hover-effect-two position-relative">
                                                        <img src="~/assets/images/tour/tour-img-9.png" alt="image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div
                                <div class="tour-details-related-tour mb-35">
                                    <h4 class="mb-20">Related Tour</h4>
                                    <div class="row gy-24">
                                        <!--thông qua tour vào tour-->
                                        @foreach (var item in Model.Tours)
										{

                                        <div class="col-xxl-6 col-xl-6 col-md-6">
                                            <div class="tour-wrapper style-one">
                                                <div class="p-relative">
                                                    <div class="tour-thumb image-overly">
                                                            <a asp-page="./Tour" asp-route-id="@item.TourId">
                                                            <img src="~/assets/images/tour/@item.Destinate.Image"
                                                                 alt="image">
                                                        </a>
                                                    </div>
                                                    <div class="tour-meta d-flex align-items-center justify-content-between">
                                                        <button class="tour-favorite tour-like">
                                                            <i class="icon-heart"></i>
                                                        </button>
                                                        <div class="tour-location">
                                                            <span>
                                                                    <a asp-page="/DestinationPage" asp-route-id="@item.TourId">
                                                                    <i class="fa-regular fa-location-dot"></i>
                                                                    @item.Destinate.Name
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tour-content">

                                                    <h5 class="tour-title fw-5 underline mb-5">
                                                        <a href="tour-details.html">
                                                            @item.Description
                                                        </a>
                                                    </h5>
                                                    <span class="tour-price b3">@item.TotalCost</span>

                                                    <div class="tour-divider"></div>

                                                    <div class="tour-meta d-flex align-items-center justify-content-between">
                                                        <div class="time d-flex align-items-center gap--5">
                                                            <i class="icon-heart"></i>
                                                            <span>@item.Duration days</span>
                                                        </div>
                                                        <div class="tour-btn">
                                                            <a class="bd-text-btn style-two"
                                                               href="booking.html">
                                                                Book Now
                                                                <span class="icon__box">
                                                                    <i class="fa-regular fa-arrow-right-long icon__first"></i>
                                                                    <i class="fa-regular fa-arrow-right-long icon__second"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
